.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_footer_button {
    margin-top: 1.5rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: "NanumSquareB", cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: .3rem;
}

.round_button:hover {
    color: dimgrey;
}

.article_image {
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem grey;
}

.article_content {
    text-align: left;
    font-size: 1.1rem;
}




